@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}
.container{
    width: 250px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}
.image img{
    width: 230px;
    margin: 10px 10px 0 10px;
    padding: 5px 5px 0 5px;
    border-radius: 10px;
}
.des{
    margin: 10px 15px;
    border-bottom: 1px hsl(215, 32%, 27%) solid;
}
.des h3{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;
}
.des p{
    color: hsl(215, 51%, 70%);
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 300;
}
.price{
    padding-bottom: 10px;
    display: flex;
    
}
.price p{
    display: inline;
}
.price .eth{
    color: hsl(178, 100%, 50%);
    font-size: 11px;
    font-weight: 400;
}
.price .img1{
    width: 8px;
    margin: 0 5px 10px 0;
}
.price .img2{
    width: 11px;
}
.price .days{
    color: hsl(215, 51%, 70%);
    font-size: 11px;
   
}
.price .right{
    display: inline;
    padding-left: 50px;
}

.name img{
    width: 25px;
    border: #fff 1px solid;
    border-radius: 50%;
}
.name{
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    margin: 15px ;
} 
.name p{
    color: hsl(215, 51%, 70%);
    display: inline;
    margin-right: 60px;
    margin-top: 5px;
}
.name p span{
    color: #fff;
}

@media only screen and (max-width: 628px){
    .container{
        width: 75%;
        height: 90%;
        padding: 10px 20px 0  20px;
        margin-bottom: 30px;
    }
    .image img{
        width: 95%;
        max-height: 40%;
    }
    .des p{
        font-size: 20px;
    }
    .price .eth{
        font-size: 15px;
    }
    .price .days{
        font-size: 15px;
    }
    .name p{
        font-size: medium;
        margin-right: 25%;
    }
    .name img{
        width: 30px;
    }
    .price .img1{
        width: 3%;
    }
    .price .img2{
        width: 17%;
    }
}